/* CSS untuk styling tampilan website */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

main {
  padding: 20px;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.search input[type="text"] {
  padding: 5px;
  width: 200px;
  margin-right: 10px;
}

.search button {
  padding: 5px 10px;
}
